body {
    background: url(bg.png) no-repeat fixed;
    background-size: cover;
    font-family: "Comic Sans MS";
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#canvasContainer {
    display: flex;
    position: relative;
    align-items: center;
}

#canvas {
    z-index: 1;
}

#pointer {
    position: absolute;
    right: -20px;
    z-index: 2;
    height: 30px;
    width: 30px;
}


/* The Modal (background) */

.modal {
    display: none;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
}


/* Modal Content */

.modal-content {
    position: absolute;
    background-color: #fefefe;
    bottom: 10px;
    padding: 10px;
    border: 2px solid #dad9d9;
    border-radius: 5px;
    width: 80%;
    height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@keyframes animatetop {
    from {
        bottom: -200px;
        opacity: 0
    }
    to {
        bottom: 10px;
        opacity: 1
    }
}


/* The Close Button */

.close {
    position: absolute;
    right: 20px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}