.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#canvasContainer {
    display: flex;
    position: relative;
    align-items: center;
}

#canvas {
    z-index: 1;
}

#pointer {
    position: absolute;
    right: -20px;
    z-index: 2;
    height: 30px;
    width: 30px;
}

body {
    background-image: url('bg.jpeg');
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
}